{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1455889267303-a5ec970d6d43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80)">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Register</h1>
					<span class="subheading">Start Contributing to the Blog!</span>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 mx-auto">
            <span class="attribution">
                <a class="attribution"
                   href="https://unsplash.com/photos/x3GmDLxdWE0">
                  Background photo</a> by Rosan Harmens on unsplash.com
            </span>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
		
		</div>
	</div>
</div>

{% include "footer.html" %}
{% endblock %}